<?php include 'header.php';?>
    
    <section class="aboutUS container">
      
       
            <h2 class="h_section">About this project</h2>
        
        <div class="time-table container">
            <div class="row">
                <div class="col-sm-4 time-table-img">
                    <img src="img/user.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-sm-8 time-table-info">
                    <div class="row table-date">
                        <div class="col-xs-2 date">1999</div>
                        <div class="col-xs-10 info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet itaque sunt accusamus numquam nisi sint dicta quisquam unde voluptatum perspiciatis sequi nostrum nulla excepturi provident cumque, aspernatur sed debitis reprehenderit suscipit odio ipsum voluptas</p>
                        </div>
                    </div>
                    <div class="row table-date">
                        <div class="col-xs-2 date">2000</div>
                        <div class="col-xs-10 info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet itaque sunt accusamus numquam nisi sint dicta quisquam unde voluptatum perspiciatis sequi nostrum nulla excepturi provident cumque</p>
                        </div>
                    </div>
                    <div class="row table-date">
                        <div class="col-xs-2 date">2005</div>
                        <div class="col-xs-10 info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet itaque sunt accusamus numquam nisi sint dicta quisquam unde voluptatum perspiciatis sequi nostrum nulla excepturi provident cumque</p>
                        </div>
                    </div>
                    <div class="row table-date">
                        <div class="col-xs-2 date">2017</div>
                        <div class="col-xs-10 info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet itaque sunt accusamus numquam nisi sint dicta quisquam unde voluptatum perspiciatis sequi nostrum nulla excepturi provident cumque</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
     
    <section class="container awards">
        <h2 class="h_section">My awards</h2>
          <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="icon"><i class="fa fa-star-o"></i></div>
                        <h3 class="h_link"><a href="#">Lorem ipsum dolor.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eaque, in mollitia, deserunt delectus consequuntur?</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="icon"><i class="fa fa-trophy"></i></div>
                        <h3 class="h_link"><a href="#">Lorem ipsum dolor.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid quia asperiores quasi nostrum, officia.</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="icon"><i class="fa fa-heart-o"></i></div>
                        <h3 class="h_link"><a href="#">Lorem ipsum dolor.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis laudantium exercitationem, excepturi sint soluta eum!</p>
                    </div>
        </div>
    </section>
     
    <section class="parallax">
        <div class="container">
            <h2 class="h_section">Why i made this blog</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, ipsa, obcaecati consequuntur similique dolorem aliquam veritatis quas quisquam soluta unde. Omnis nesciunt eveniet sequi, aut blanditiis repellendus repudiandae amet quas, nulla, modi, molestias facilis. Facilis pariatur nemo ratione beatae quod cumque cum, alias ex aut natus. Mollitia deserunt qui eum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde blanditiis, voluptates explicabo atque nesciunt, placeat ducimus iste amet enim corporis adipisci optio possimus, mollitia deleniti dolorum qui. Illo, odit doloribus.</p>
            <a href="#" class="btn-template">Learn more</a>
        </div>
    </section>
     
     
     <section class="container what-i-do">
         <h2 class="h_section">What i do</h2>
         <div class="row">
             <div class="service col-md-4 col-sm-6">
                 <div class="icon">01</div>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolorem nisi error libero dicta id amet perspiciatis, voluptates, ratione temporibus, illum! Debitis tempora adipisci eos soluta repellat aperiam eligendi praesentium.</p>
             </div>
             <div class="service col-md-4 col-sm-6">
                 <div class="icon">02</div>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolorem nisi error libero dicta id amet perspiciatis, voluptates, ratione temporibus, illum! Debitis tempora adipisci eos soluta repellat aperiam eligendi praesentium.</p>
             </div>
             <div class="service col-md-4 col-sm-6">
                 <div class="icon">03</div>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolorem nisi error libero dicta id amet perspiciatis, voluptates, ratione temporibus, illum! Debitis tempora adipisci eos soluta repellat aperiam eligendi praesentium.</p>
             </div>
         </div>
     </section>
     <footer>

        <div class="contacts">
          <div class="container">
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <a href="mailto:info@demolink.org">info@demolink.org</a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <ul>
                            <li>
                                <a href="#">Facebook</a>
                            </li>
                            <li>
                                <a href="#">Twitter</a>
                            </li>
                            <li>
                                <a href="#">Instagram</a>
                            </li>
                            <li>
                                <a href="#">VK</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <p>89061 B.Centre, Ukraine,2284571</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="callto:+38 (063) 565 44 72"> +38 (063) 565 44 72</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
           
            <div class="container">
                <p>TEMPLE &copy; Copyright 2017</p>
            </div>
            
        </div>
    </footer>
 <?php include 'footer.php';?>