<?php include 'header-cat.php'; ?>
<section class="blogs container">
<div class="container">
        <h2 class="h_section">My Blog</h2>
        <article class="blog row">
           <div class="img-block col-sm-5">
               <img src="img/card4.jpg" alt="" class="img-responsive">
           </div>
           <div class="desc col-sm-7 blog-info">
               <h3 class="h-desc">Lorem ipsum dolor.</h3>
               <div class="info-panel">
                              <ul>
                                  <li class="data"><i class="fa fa-calendar"></i><span>June 22</span></li>
                                  <li class="author"><i class="fa fa-user"></i><span>Admin</span></li>
                                  <li class="comments"><i class="fa fa-comment"></i><span>2</span> Comments</li>
                              </ul>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint dolore mollitia rem, culpa minima modi eligendi assumenda? Vero, non soluta. Animi rerum odio quam asperiores, ipsa dicta, illum fugit nemo iusto id sint ullam veritatis laudantium culpa ducimus alias odit ut nostrum architecto corporis delectus consequuntur error fuga. Reiciendis, aspernatur.</p>
                <a href="#" class="btn-template">View more</a>
           </div>
            
        </article>
        
         <article class="blog row">
           <div class="img-block col-sm-5">
               <img src="img/card5.jpg" alt="" class="img-responsive">
           </div>
           <div class="desc col-sm-7 blog-info">
               <h3 class="h-desc">Lorem ipsum dolor.</h3>
               <div class="info-panel">
                              <ul>
                                  <li class="data"><i class="fa fa-calendar"></i><span>June 22</span></li>
                                  <li class="author"><i class="fa fa-user"></i><span>Admin</span></li>
                                  <li class="comments"><i class="fa fa-comment"></i><span>2</span> Comments</li>
                              </ul>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint dolore mollitia rem, culpa minima modi eligendi assumenda? Vero, non soluta. Animi rerum odio quam asperiores, ipsa dicta, illum fugit nemo iusto id sint ullam veritatis laudantium culpa ducimus alias odit ut nostrum architecto corporis delectus consequuntur error fuga. Reiciendis, aspernatur.</p>
                <a href="#" class="btn-template">View more</a>
           </div>
            
        </article>
        
         <article class="blog row">
           <div class="img-block col-sm-5">
               <img src="img/card3.jpg" alt="" class="img-responsive">
           </div>
           <div class="desc col-sm-7 blog-info">
               <h3 class="h-desc">Lorem ipsum dolor.</h3>
               <div class="info-panel">
                              <ul>
                                  <li class="data"><i class="fa fa-calendar"></i><span>June 22</span></li>
                                  <li class="author"><i class="fa fa-user"></i><span>Admin</span></li>
                                  <li class="comments"><i class="fa fa-comment"></i><span>2</span> Comments</li>
                              </ul>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint dolore mollitia rem, culpa minima modi eligendi assumenda? Vero, non soluta. Animi rerum odio quam asperiores, ipsa dicta, illum fugit nemo iusto id sint ullam veritatis laudantium culpa ducimus alias odit ut nostrum architecto corporis delectus consequuntur error fuga. Reiciendis, aspernatur.</p>
                <a href="#" class="btn-template">View more</a>
           </div>
            
        </article>
    </div>
</section>
<div class="clearfix"></div>


<footer>
        <div class="contacts">
          <div class="container">
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <a href="mailto:info@demolink.org">info@demolink.org</a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <ul>
                            <li>
                                <a href="#">Facebook</a>
                            </li>
                            <li>
                                <a href="#">Twitter</a>
                            </li>
                            <li>
                                <a href="#">Instagram</a>
                            </li>
                            <li>
                                <a href="#">VK</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <p>89061 B.Centre, Ukraine,2284571</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="callto:+38 (063) 565 44 72"> +38 (063) 565 44 72</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
           
            <div class="container">
                <p>TEMPLE &copy; Copyright 2017</p>
            </div>
            
        </div>
    </footer>
  <?php include 'footer.php'; ?>