  <?php include 'header.php';?>
    
    <header>
        <div class="site-title">
            <h1>Nirvana</h1>
            <p>Look in the sky and someone will see what you crying about</p>
            <button class="btn-template">Add your comment</button>
        </div>
    </header>
    
    <section class="hello container">
        <h2 class="h_section">Hello</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolor, commodi maiores quas possimus repellendus neque veritatis non ea aut quos consectetur illo nam, reprehenderit, excepturi numquam nostrum provident. Accusantium voluptatum, illum adipisci vitae. Iste, suscipit incidunt ad placeat nostrum hic molestiae, laudantium aliquid maxime facere in eius at esse ab quas nemo vero animi ex adipisci tempore harum magni atque velit blanditiis. Dolore nobis debitis minus deleniti corporis. Nam consequatur est dicta totam accusantium nulla, obcaecati in molestias illo voluptatum ducimus asperiores! Nesciunt eaque sit voluptate est deleniti, et quos itaque, aliquid nostrum doloribus eum aut pariatur eos expedita!</p>
        <a href="#" class="btn-template">Learn more</a>
    </section>
    
    <section class="projects container">
        <h2 class="h_section">Projects</h2>
    <div class="row">
                <div class="col-md-6">
                <article class="project-card"><a href="#">
                        <img src="img/card1.jpg" alt="" class="img-responsive"></a>
                        <span class="date">2 days ago</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui reiciendis tenetur non, unde earum eum quae officia ullam voluptas possimus.</p>
                </article>
                
                <article class="project-card"><a href="#">
                        <img src="img/card3.jpg" alt="" class="img-responsive"></a>
                        <span class="date">2 days ago</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui reiciendis tenetur non, unde earum eum quae officia ullam voluptas possimus.</p>
                </article>
                
                <article class="project-card"><a href="#">
                        <img src="img/card4.jpg" alt="" class="img-responsive"></a>
                        <span class="date">2 days ago</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui reiciendis tenetur non, unde earum eum quae officia ullam voluptas possimus.</p>
                </article>
            </div>
            
            <div class="col-md-6">
                <article class="project-card"><a href="#">
                        <img src="img/card2.jpg" alt="" class="img-responsive"></a>
                        <span class="date">2 days ago</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit est et magni numquam, facere sed laudantium accusamus velit ut repellendus!</p>
                    </article>
                    <article class="project-card"><a href="#">
                        <img src="img/card6.jpg" alt="" class="img-responsive"></a>
                        <span class="date">2 days ago</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui reiciendis tenetur non, unde earum eum quae officia ullam voluptas possimus.</p>
                </article>
                <article class="project-card"><a href="#">
                        <img src="img/card5.jpg" alt="" class="img-responsive"></a>
                        <span class="date">2 days ago</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui reiciendis tenetur non, unde earum eum quae officia ullam voluptas possimus.</p>
                </article>
            </div>
        </div>
        <a href="#" class="btn-template">View all projects</a>
    </section>
    
    <section class="news container">
        <h2 class="h_section">
            Latest news
        </h2>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <article>
                    <img src="img/card2.jpg" alt="" class="img-responsive">
                    <span class="date">2 days ago</span>
                    <div class="desc">
                        <h3><a href="#">Lorem ipsum dolor.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, consectetur!</p>
                    </div>
                </article>
                <article>
                    <img src="img/card3.jpg" alt="" class="img-responsive">
                    <span class="date">2 days ago</span>
                    <div class="desc">
                        <h3><a href="#">Lorem ipsum dolor.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, consectetur!</p>
                    </div>
                </article>
            </div>
            <div class="col-md-3 col-sm-6">
                <article>
                    <img src="img/card4.jpg" alt="" class="img-responsive">
                    <span class="date">2 days ago</span>
                    <div class="desc">
                        <h3><a href="#">Lorem ipsum dolor.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, deserunt.</p>
                    </div>
                </article>
                <article>
                    <img src="img/card6.jpg" alt="" class="img-responsive">
                    <span class="date">2 days ago</span>
                    <div class="desc">
                        <h3><a href="#">Lorem ipsum dolor.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, deserunt.</p>
                    </div>
                </article>
            </div>
            <div class="col-md-3 col-sm-6">
                <article>
                    <img src="img/card6.jpg" alt="" class="img-responsive">
                    <span class="date">2 days ago</span>
                    <div class="desc">
                        <h3><a href="#">Lorem ipsum dolor.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, cum.</p>
                    </div>
                </article>
                <article>
                    <img src="img/card2.jpg" alt="" class="img-responsive">
                    <span class="date">2 days ago</span>
                    <div class="desc">
                        <h3><a href="#">Lorem ipsum dolor.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, cum.</p>
                    </div>
                </article>
            </div>
            <div class="col-md-3 col-sm-6">
                <article>
                    <img src="img/card3.jpg" alt="" class="img-responsive">
                    <span class="date">2 days ago</span>
                    <div class="desc">
                        <h3><a href="#">Lorem ipsum dolor.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, architecto.</p>
                    </div>
                </article>
                <article>
                    <img src="img/card4.jpg" alt="" class="img-responsive">
                    <span class="date">2 days ago</span>
                    <div class="desc">
                        <h3><a href="#">Lorem ipsum dolor.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, architecto.</p>
                    </div>
                </article>
            </div>
        </div>
        <a href="#" class="btn-template">View all news</a>
    </section>
    
    <section class="services container">
        <h2 class="h_section">Services</h2>
        <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="icon"><i class="fa fa-html5"></i></div>
                        <h3 class="h_link"><a href="#">Lorem ipsum dolor.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eaque, in mollitia, deserunt delectus consequuntur?</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="icon"><i class="fa fa-firefox"></i></div>
                        <h3 class="h_link"><a href="#">Lorem ipsum dolor.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid quia asperiores quasi nostrum, officia.</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="icon"><i class="fa fa-css3"></i></div>
                        <h3 class="h_link"><a href="#">Lorem ipsum dolor.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis laudantium exercitationem, excepturi sint soluta eum!</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="icon"><i class="fa fa-github"></i></div>
                        <h3 class="h_link"><a href="#">Lorem ipsum dolor.</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ab laborum ut illo aliquid at.</p>
                    </div>
        </div>
    </section>
    
    <footer>
     <div class="container">
           
                 <h2 class="h_section">Contacts</h2>
                  <form action="" class="row">
                      <div class="col-md-6">
                          <input type="text" class="form-input" placeholder="Name">
                      </div>
                      <div class="col-md-6">
                          <input type="email" class="form-input" placeholder="Email">
                      </div>
                      <div class="col-md-12">
                          <textarea name="" id="">Your comment</textarea>
                      </div>
                      <div class="clearfix"></div>
                      <button type="submit" class="btn-template">Send message</button>
                  </form>
      </div>
        
        <div class="contacts">
          <div class="container">
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <a href="mailto:info@demolink.org">info@demolink.org</a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <ul>
                            <li>
                                <p><a href="#">Facebook</a></p>
                            </li>
                            <li>
                                <p><a href="#">Twitter</a></p>
                            </li>
                            <li>
                                <p><a href="#">Instagram</a></p>
                            </li>
                            <li>
                                <p><a href="#">VK</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <p>89061 B.Centre, Ukraine,2284571</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="callto:+38 (063) 565 44 72"> +38 (063) 565 44 72</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
           
            <div class="container">
                <p>TEMPLE &copy; Copyright 2017</p>
            </div>
            
        </div>
    </footer>
    <?php include 'footer.php';?>