<?php include 'header-cat.php';?>
    
    <div class="blog-container">
              <article class="blog-post">
                  <div class="container">
                      <div class="blog-main-image">
                          <img src="img/card3.jpg" alt="" class="img-responsive">
                           <h2 class="h_default">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, ipsam.</h2>
                      </div>
                      <div class="info-panel">
                          <ul>
                              <li class="data"><i class="fa fa-calendar"></i><span>June 22</span></li>
                              <li class="author"><i class="fa fa-user"></i><span>Admin</span></li>
                              <li class="comments"><i class="fa fa-comment"></i><span>2</span> Comments</li>
                          </ul>
                      </div>
                      <div class="blog-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam expedita amet repudiandae laboriosam nemo incidunt accusantium ab, explicabo sed, deleniti nihil saepe minima, reprehenderit dolor eum quasi quidem. Vel accusantium, quas! Iste ab sunt ratione, voluptatem consequuntur, assumenda! Officiis fugit totam provident sit neque molestias odio quidem quia ipsum nulla.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste commodi nihil error perferendis dolor quis vel corporis. Assumenda tenetur non debitis, itaque quam odio, praesentium laudantium, nihil maxime amet harum, quod neque fugit nobis quaerat hic. Nisi nobis doloribus voluptates perspiciatis impedit fuga, enim commodi minima eligendi qui suscipit in!</p>  
                        
                        <h4 class="h_subheading">advice #1</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem non iure expedita officia ex magnam quaerat, illum doloremque culpa nihil, similique esse impedit at odio veniam unde in, nobis ut accusamus repudiandae totam atque dolore. Qui in totam, quisquam nihil nesciunt consequuntur officiis. Assumenda sapiente iusto dolor, laborum accusantium quidem in enim saepe, distinctio, est eligendi ad. Reprehenderit similique assumenda sequi ad, enim officia hic, unde, ratione dolores doloremque quod ex quos dolorum eaque perspiciatis ipsum itaque maiores eos nulla aliquid ab? Autem, magni cum est, aut alias ullam. Esse inventore harum aliquid aliquam perspiciatis est vitae a incidunt veniam.</p>
                        <h4 class="h_subheading">advice #2</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ipsam minus, illum accusantium alias, odit dolorem quae ut assumenda voluptatibus minima, dolore illo voluptatem sequi quidem sapiente. Nisi aperiam neque dolores eligendi architecto, vel optio. Neque omnis architecto ad culpa modi corporis molestiae, non exercitationem fuga consequatur rerum doloribus sapiente. Praesentium officia aperiam mollitia, voluptatibus et optio provident perspiciatis hic aliquid eaque voluptas nemo porro modi, odio ipsum rerum laudantium, veritatis, architecto beatae excepturi! Ducimus, doloribus maiores commodi sapiente. Iure odio iste itaque? At odio nostrum, placeat laboriosam voluptatum? Perferendis dolores beatae, maiores nobis quidem ea iure nesciunt similique quos?</p>
                        <h4 class="h_subheading">advice #3</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure doloremque totam, debitis commodi, voluptatem dolore esse sint quibusdam vel alias laudantium ex voluptas saepe ducimus, nihil enim similique quia aut eum fuga. Repellat eius adipisci quam ducimus blanditiis ullam, possimus atque rem cupiditate, suscipit, mollitia accusantium iure laborum repudiandae odio voluptas perferendis harum iste debitis. Cum minima veritatis facere, atque eius quibusdam temporibus possimus omnis. Amet quod voluptatibus obcaecati temporibus nisi sequi dolores modi molestiae totam, natus aspernatur, ab iste dolor excepturi aperiam provident voluptate alias delectus impedit repellendus odio mollitia itaque. Similique autem, eos placeat. Facere consequatur, iusto illo!</p>
                        <h4 class="h_subheading">advice #4</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nisi libero obcaecati nam totam fugit aliquam non, nobis corporis culpa eaque, necessitatibus voluptatem minima. Tempore nemo, aut eligendi similique unde sapiente blanditiis aspernatur quae saepe atque corporis, praesentium amet ipsam expedita numquam quas officia nesciunt! Commodi quasi soluta iure libero quae nobis aliquid nihil debitis impedit odio quia sit, nesciunt reprehenderit distinctio ipsam, consequuntur numquam nulla hic ducimus, earum doloribus nam blanditiis. Repellendus minima, autem dolores magnam nesciunt illo quibusdam vitae beatae, iste? Officia aut, voluptatibus doloremque sint esse excepturi nemo vel similique. Sunt perspiciatis laborum quasi, tempora nulla laudantium.</p>
                        <h4 class="h_subheading">advice #5</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quod illo omnis eaque modi officia ut eum delectus quisquam, inventore libero praesentium culpa eius, ea error consectetur. Neque, officiis vero magnam harum fugiat saepe provident labore animi at voluptatum, odit vel explicabo, distinctio cum quaerat reprehenderit autem tempora cupiditate voluptas. A voluptatum molestiae quasi quo, laudantium ut dicta labore corporis fugiat explicabo deserunt eius aut quam ipsam qui consectetur, distinctio. Neque fugit laboriosam aliquid similique culpa ullam, at sapiente numquam.</p>
                      </div>
                      </div>
                  </div>
              </article>
    </div>
      
      <section class="testimonials container">
          <h2 class="h_section">Comments</h2>
          <div class="testimonials-container">
              <div class="testimony row">
                  <div class="author-img col-xs-1">
                      <img src="img/user.jpg" alt="" class="img-responsive">
                  </div>
                  <div class="col-xs-11">
                      <p class="col-xs-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique repellendus repellat aliquam autem nesciunt possimus eveniet neque illo ex laudantium dolore, quia f.</p>
                      
                      <div class="testimony-nav col-xs-12">
                          <p class="author-name col-xs-6">Posted by <a>Layla Jamesson</a></p>
                          <div class="col-xs-6 testimony-active row">
                              <a href="#" class="col-xs-4"><i class="fa fa-heart"></i></a>
                              <a href="#" class="col-xs-4">reply</a>
                              <span class="date" class="col-xs-4">June 22</span>
                          </div>
                      </div>
                      
                  </div>
                </div>
                  
             
          </div>
      </section>
      
       <footer>
       
        <div class="container">
           
                 <h2 class="h_section">Live a comment</h2>
                  <form action="" class="row">
                      <div class="col-md-6">
                          <input type="text" class="form-input" placeholder="Name">
                      </div>
                      <div class="col-md-6">
                          <input type="email" class="form-input" placeholder="Email">
                      </div>
                      <div class="col-md-12">
                          <textarea name="" id="">Your comment</textarea>
                      </div>
                      <div class="clearfix"></div>
                      <button type="submit" class="btn-template">Send message</button>
                  </form>
      </div>
       
        <div class="contacts">
          <div class="container">
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <a href="mailto:info@demolink.org">info@demolink.org</a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <ul>
                            <li>
                                <a href="#">Facebook</a>
                            </li>
                            <li>
                                <a href="#">Twitter</a>
                            </li>
                            <li>
                                <a href="#">Instagram</a>
                            </li>
                            <li>
                                <a href="#">VK</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <p>89061 B.Centre, Ukraine,2284571</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="callto:+38 (063) 565 44 72"> +38 (063) 565 44 72</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
           
            <div class="container">
                <p>TEMPLE &copy; Copyright 2017</p>
            </div>
            
        </div>
    </footer>
<?php include 'footer.php';?>